= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-vertical', method: :put }) do |f|
  = f.input :name, input_html: { class: "span12" }
  = f.input :email, input_html: { class: "span12" }
  = f.input :password, input_html: { class: "span12" }
  = f.input :password_confirmation, input_html: { class: "span12" }
  = f.input :current_password, label: "<abbr title='required'>*</abbr> Current password (required to confirm changes)", input_html: { class: "span12" }
  .pull-right{style: "padding: 20px 0;"}
    = f.button :submit, "Save", class: "btn-success"