- content_for :head do
  = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY

- content_for :nav_secondary do
  #nav-secondary
    %h5 Your Profile
    %ul.nav-secondary-tabs
      %li{:class => (params[:tab] == 'contact-info' || params[:tab].nil?) ? 'active' : ''}
        %a{"data-toggle" => "tab", :href => "#contact-info"} Contact Info
      - if can? :edit, @company
        %li{:class => params[:tab] == 'company' ? 'active' : ''}
          %a{"data-toggle" => "tab", :href => "#company"} Company Info
      - unless current_user.free?
        %li{:class => params[:tab] == 'billing' ? 'active' : ''}
          %a{"data-toggle" => "tab", :href => "#billing"} Billing Info

= render 'layouts/dashboard_navigation'

#main
  #success.alert.alert-success{style: "display: none; margin: 0;"}
    You updated your account successfully!
  .padding20
    .tab-content
      #contact-info.tab-pane{:class => (params[:tab] == 'contact-info' || params[:tab].nil?) ? 'active' : ''}
        #breadcrumbs 
          .container-fluid
            .row-fluid
              %h3.span-12 Contact Info
        .container-fluid{style: "padding-top: 20px; padding-bottom: 20px;"}
          = render "contact_fields"
      - if can? :edit, @company
        #company.tab-pane{:class => params[:tab] == 'company' ? 'active' : ''}
          #breadcrumbs 
            .container-fluid
              .row-fluid
                %h3.span-12 Company Info
          .container-fluid{style: "padding-top: 20px; padding-bottom: 20px;"}
            = render "companies/form"
      - unless current_user.free?
        #billing.tab-pane{:class => params[:tab] == 'billing' ? 'active' : ''}
          #breadcrumbs 
            .container-fluid
              .row-fluid
                %h3.span-12 Billing Info
          .container-fluid{style: "padding-top: 20px; padding-bottom: 20px;"}
            = render "credit_card_fields"