= render "sites/public_nav"
= render 'sites/public_photo'
.container
  .row-fluid
    .span6
      %h2.light Condo Motion
      %p Create your resident account today!  Your property manager will be using Condo Motion to share important information and documents with you.  
      %p Coming soon, you'll also be able to report issues at your property and see the status as your property manager resolves the issue.
      %h4.light= @site.company.name
      %address
        %p
          = @site.company.address.address1
          %br/
          - unless @site.company.address.address2.blank?
            = @site.company.address.address2 
            %br/
          = "#{@site.company.address.city}, #{@site.company.address.state} #{@site.company.address.zip}"
          %br/
          = @site.company.phone
          %br/
          = link_to "lparrish@hofeller.com", "mailto:lparrish@hofeller.com"
    .span4.offset2
      .login-box
        %h3.center{style: "color: #333;"} Sign up
        = simple_form_for(@user, url: signups_path, html: { class: 'form-inline' }) do |f|
          .content-wrap
            = f.error_notification
            = f.input :name, label: false, placeholder: "Full Name", autofocus: true, input_html: { class: "span12" }
            = f.input :email, required: true, label: false, placeholder: "Email address", input_html: { class: "span12" }
            = f.input :password, required: true, label: false, placeholder: "Password", input_html: { class: "span12" }
            = f.input :password_confirmation, required: true, label: false, placeholder: "Password confirmation", input_html: { class: "span12" }
            .control-group.required
              .controls
                = password_field_tag :signup_password, @password.nil? ? "" : @password, class: "span12 string required", placeholder: "Site password"
            %span.help-block#signup_password_help{style: "display: none;"}= "This is the password your management company set up so only residents can create accounts. Contact your property manager if you need the password."
            = hidden_field_tag :site_id, @site.id
          .center.actions
            = f.button :submit, "Create Account", class: "btn-primary"