= render 'layouts/dashboard_navigation'

#main.no-nav-secondary
  #breadcrumbs 
    .container-fluid
      .row-fluid
        %h3.pull-left 
          %i.icon-group
          People
        = link_to "Add person", new_user_url, class: "btn btn-success pull-right"
  .container-fluid
    .row-fluid{style: "padding-top: 20px;"}
      .span12
        %table.table
          %thead
            %tr
              %th Username
              %th Email
              %th Registered
              %th
          %tbody
          - @users.each do |user|
            %tr
              %td= link_to user.name, user
              %td= user.email
              %td= user.created_at.to_date
              %td= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') if can?(:delete, user) && user != @company.owner