= render "layouts/dashboard_navigation"
#main.no-nav-secondary
  #breadcrumbs 
    .container-fluid
      .row-fluid
        .span12
          %h3.pull-left
            %i.icon-user
            = link_to "Users", users_url
            %span / 
            = @user.name
          = link_to "Edit", "",class: "btn pull-right"
  .container-fluid
    .row-fluid{style: "padding-top: 20px;"}
      .span8
        = @user.email
      .span4
        .detail-box
          %h4 Address
          %p{style: 'margin: 0;'}
            Address here...