= render "layouts/dashboard_navigation"
#main.no-nav-secondary
  #breadcrumbs 
    .container-fluid
      .row-fluid
        .span12
          %h3.pull-left
            %i.icon-user
            = link_to "Users", users_url
            %span / 
            = @user.name
          = link_to "Edit", edit_user_path(@user), class: "btn pull-right" if can? :edit, @user
  .container-fluid
    .row-fluid{style: "padding-top: 20px;"}
      .span8
        %h4{style: "margin-top: 0;"} Memberships
        - if @user.memberships.length == 0
          .well
            This user is not a member of any properties
        - else
          %table.table
            %thead
              %tr
                %th Site
                %th Role
            %tbody
              - @user.memberships.each do |membership|
                %tr
                  %td= link_to membership.site.name, root_url(subdomain: membership.site.subdomain)
                  %td= membership.role.name.titleize
      .span4
        .detail-box
          %h4 Contact Info
          %p{style: 'margin: 0;'}
            = @user.email