= render "layouts/home_navigation"

.container
  .row-fluid{style: "margin: 100px 0 0 0;"}
    .span4.offset4.login-box
      .content-wrap
        %h3{style: "font-weight: 100; margin: 0 0 20px 0;"} Change your password
        = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
          = devise_error_messages!
          .row-fluid
            = f.input :reset_password_token, as: :hidden
            = f.input :password, :autofocus => true, label: false, placeholder: "Password", input_html: {class: "span12"}
            = f.input :password_confirmation, :autofocus => true, label: false, placeholder: "Password confirmation", input_html: {class: "span12"}
          .control-group
            .controls
              = f.button :submit, "Change my password", class: 'btn-primary'
              %br
              %br
              = render "devise/shared/links"