= render 'layouts/navigation'

.container
  %h4 Forgot Your Password?
  %p{style: "color: #999;"} To reset your account password, enter the email address you registered with, and we’ll send your instructions on their way.
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, :required => true, :autofocus => true, label: false, input_html: {class: "span12", placeholder: "Email"}
      = f.button :submit, "Send instructions", class: "btn-primary"
  = render "devise/shared/links"