= content_for :title do
  Condo Motion | Simple CRM for Property Managers

= render 'layouts/home_navigation'

#jumbotron
  .container
    .row-fluid
      .span4#welcome
        %h2 Property Management Software
        %h3 Easily share information and track issues at your properties
        = link_to raw("<i class='icon-circle-arrow-right'></i> Try it Now"), pricing_path, class: "btn btn-large btn-success"
      .span8
        = image_tag "macbook.png", id: "macbook", class: "pull-right"
.feature
  .container
    %h3 Easy Setup
    %hr/
    .row
      .description.span7 Once you create your account, just create user accounts for your staff and add the properties you manage.  We can import them from an Excel spreadsheet for you if you would like.  Residents can sign up for user accounts via their property's signup page (you can set a property-wide password so only actual residents can create accounts).
    .row-fluid
      .span8.offset2
        .thumbnail
          = browser_bar
          = image_tag "screenshots/property_sign_up.png"
.feature.dark
  .container
    %h3 Manage Properties From One Place
    %hr/
    .row
      .description.span7 Condo Motion provides a centralized point of control for your entire management company.  You can manage all of your properties all in one place.
    .row-fluid
      .span8.offset2
        .thumbnail
          = browser_bar
          = image_tag "screenshots/property.png"
.feature
  .container
    %h3 Keep Track of Staff and Residents
    %hr/
    .row
      .description.span7 All of your users have profiles in the Condo Motion system.  A single user can be a member of multiple properties with different permissions for each membership.
    .row-fluid
      .span8.offset2
        .thumbnail
          = browser_bar
          = image_tag "screenshots/user.png"
.feature.dark
  .container
    %h3 Easily Share Information
    %hr/
    .row
      .description.span7 Post news and documents to one or more properties at the same time. Your clients will get beautiful email notifications. You have full control over what user roles can access the information you are posting.
    .row-fluid
      .span8.offset2
        .thumbnail
          = browser_bar
          = image_tag "screenshots/news_new.png"
.feature
  .container
    %h3 Simple Issue Reporting
    %hr/
    .row
      .description.span7
        %strong Coming Soon!
        We are working hard on the next major feature of Condo Motion, issue reporting.  Residents will be able to report issues at their property.  Managers will be able to assign the issue, post updates, and track the issue until it is resolved.