= simple_form_for(@news) do |f|
  = f.error_notification

  .form-inputs
    = f.simple_fields_for :post do |ff|
      = ff.input :title, input_html: { class: 'span12' }
    = f.input :content, input_html: { rows: 10, class: "wysiwyg span12" }
    - unless @news.attachment.attachment_cache.blank?
      %strong Attachment pending:
      = @news.attachment.attachment_cache.split("/").last
    = f.simple_fields_for :attachment do |af|
      = af.input :attachment
      = af.input :attachment_cache, as: :hidden
    = f.simple_fields_for :post do |ff|
      = ff.association :roles, label: "What roles can view this post?", collection: Role.site_roles, label_method: :select_label, input_html: { class: "chosen span12", data: { placeholder: "Choose some roles" } }
      = ff.association :sites, label: "What properties do you want to post this to?", collection: current_user.managed_sites, input_html: { class: "chosen span12", data: { placeholder: "Choose some properties" } }
      = link_to "All", "#", class: "chosen-toggle select btn btn-mini", data: { target: "#news_post_attributes_site_ids" } 
      = link_to "Clear", "#", class: "chosen-toggle deselect btn btn-mini", data: { target: "#news_post_attributes_site_ids" } 
  .pull-right{style: "padding: 20px 0;"}
    = link_to "Cancel", news_index_path, class: "btn"
    = f.button :submit, "Save", class: "btn-success"
