= render "layouts/dashboard_navigation"

#main.no-nav-secondary
  #breadcrumbs 
    .container-fluid
      .row-fluid
        %h3.pull-left
          %i.icon-bullhorn
          = link_to 'News', news_index_path
          %span  / 
          = @news.post.title
        = link_to raw("<i class='icon icon-trash'></i>"), @news, method: :delete, confirm: "Are you sure?", class: "btn pull-right"
  .container-fluid
    .row-fluid{style: "padding-top: 20px;"}
      .span3
        .form-instructions
          %h3 Edit your news post
          %p Give your news post a title and add your content.
      .span9
        = render 'form'