= render "layouts/dashboard_navigation"
#main.no-nav-secondary
  #breadcrumbs 
    .container-fluid
      .row-fluid
        .span12
          %h3.pull-left
            %i.icon-bullhorn
            = link_to "News", news_index_url
            %span / 
            = @news.post.title
          .pull-right.btn-group
            = link_to raw("<i class='icon icon-pencil'></i>"), edit_news_path(@news),class: "btn"
            = link_to raw("<i class='icon icon-trash'></i>"), @news, method: :delete, confirm: "Are you sure?", class: "btn"
  .container-fluid
    .row-fluid{style: "padding-top: 20px;"}
      .span12
        %h2= @news.post.title
        %p= raw @news.content
        - unless @news.attachment.nil?
          %p= link_to "Attachment", @news.attachment.attachment.url if @news.attachment.attachment?