.container
  = link_to "Home", root_url(subdomain: @page.site.subdomain)
  - @pages.each do |page|
    = link_to page.name, page

  %div
    = raw @page.content

  .row
    .span12
      = link_to 'Edit Page', edit_page_path(@page) if can? :edit, @page
      = link_to 'Edit Site', edit_site_url(@page.site, subdomain: "www") if can? :edit, @page.site