= simple_form_for(@document) do |f|
  = f.error_notification

  .form-inputs
    = f.simple_fields_for :post do |ff|
      = ff.input :title, input_html: { class: "span12" }
    = f.simple_fields_for :attachment do |attachmentFields|
      = attachmentFields.input :attachment
    = f.simple_fields_for :post do |ff|
      = ff.association :roles, label: "What roles can view this post?", collection: Role.site_roles, label_method: :select_label, input_html: { class: "chosen span12" }
      = ff.association :sites, label: "What properties do you want to post this to?", collection: @company.sites.all, input_html: { class: "chosen span12" }
      = link_to "All", "#", class: "chosen-toggle select btn btn-mini", data: { target: "#document_post_attributes_site_ids" } 
      = link_to "Clear", "#", class: "chosen-toggle deselect btn btn-mini", data: { target: "#document_post_attributes_site_ids" } 
    .pull-right{style: "padding: 20px 0;"}
      = link_to "Cancel", documents_path, class: "btn"
      = f.button :submit, "Save", class: "btn-success"