= simple_form_for(@document) do |f|
  = f.error_notification

  .form-inputs
    = f.simple_fields_for :post do |ff|
      = ff.input :title
      = ff.association :roles
      = ff.association :sites

  .form-actions
    = f.button :submit
