= render "layouts/dashboard_navigation"

#main.no-nav-secondary
  #breadcrumbs 
    .container-fluid
      .row-fluid
        %h3.pull-left
          %i.icon-file-alt
          = link_to 'Documents', documents_path
          %span  / 
          = @document.post.title
        .pull-right.btn-group
          = link_to raw("<i class='icon icon-eye-open'></i>"), @document, class: "btn"
          = link_to raw("<i class='icon icon-trash'></i>"), @document, method: :delete, confirm: "Are you sure?", class: "btn"
  .container-fluid
    .row-fluid{style: "padding-top: 20px;"}
      .span3
        .form-instructions
          %h3 Edit your document
          %p Give your document post a title and choose a file to upload.
      .span9
        = render 'form'