= render "layouts/dashboard_navigation"
#main.no-nav-secondary
  #breadcrumbs 
    .container-fluid
      .row-fluid
        .span12
          %h3.pull-left
            %i.icon-file-alt
            = link_to "Documents", documents_url
            %span / 
            = @document.post.title
          .pull-right.btn-group
            = link_to raw("<i class='icon icon-pencil'></i>"), edit_document_path(@document),class: "btn"
            = link_to raw("<i class='icon icon-trash'></i>"), @document, method: :delete, confirm: "Are you sure?", class: "btn"
  .container-fluid
    .row-fluid{style: "padding-top: 20px;"}
      .span12
        %h2= @document.post.title
        - unless @document.attachment.nil?
          %p= link_to @document.post.title, @document.attachment.attachment.url if @document.attachment.attachment?