= render "layouts/dashboard_navigation"
#main.no-nav-secondary
  #breadcrumbs 
    .container-fluid
      .row-fluid
        .span12
          %h3.pull-left
            %i.icon-home
            = @company.name 
          = link_to "Edit", '/users/edit/company', class: "btn pull-right" if can? :edit, @company
  .container-fluid
    .row-fluid
      .span12
        %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=#{ @company.address.address1 }+#{ @company.address.city },+#{ @company.address.state }+#{ @company.address.zip }&ie=UTF8&z=14&t=m&iwloc=near&output=embed", :width => "100%"}
    .row-fluid{style: "padding-top: 20px;"}
      .span4
        .logo= image_tag @company.logo_url if @company.logo?
      .span4
        .detail-box
          %h4 Contact Info
          %table.table-condensed{style: "margin: 0;"}
            %tbody
              %tr
                %th{style: "text-align: left;"} Owner
                %td= @company.owner.name
              %tr
                %th{style: "text-align: left;"} Phone
                %td= @company.phone
              %tr
                %th{style: "text-align: left;"} Website
                %td= link_to @company.website, @company.website, target: "_blank"
      .span4
        .detail-box
          %h4 Address
          - unless @company.address.nil?
            %p{style: 'margin: 0;'}
              = @company.address.address1
              %br
              - unless @company.address.address2.blank?
                = @company.address.address2
                %br
              = @company.address.city + ", " + @company.address.state + " " + @company.address.zip