= render "layouts/navigation"
.container
  %h2.title Users
  %table.table
    %thead
      %tr
        %th Name
        %th Email
        %th Role
        %th
    %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= %w[monthly annual].include?(user.roles.first.name) ? "Company Owner" : user.roles.first.name.titleize
        %td= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') if can? :destroy, user
  - if can? :create, User
    .row
      .span12
        = simple_form_for(resource, :as => resource_name, :url => company_user_registration_path, :html => {:class => 'card_form form-inline' }) do |f|
          %h3 Add a User
          = f.error_notification
          = display_base_errors resource
          = f.input :name, label: "Full Name", :autofocus => true
          = f.input :email, :required => true
          .input{style: "margin-bottom: 20px;"}
            = label_tag "Role"
            %br/
            = select_tag :plan, "<option>Manager</option><option>Resident</option>".html_safe
          = f.button :submit, 'Sign up', :class => 'btn-primary'