= render "layouts/home_navigation"
.container
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f|
    .control-group
      .controls
        %h2.title{style: "margin-bottom: 0;"} Sign in
    = f.input :email, :autofocus => true
    = f.input :password
    .control-group
      .controls
        %label.checkbox{for: "user_remember_me", style: "font-weight: normal;"}
          %input#user_remember_me{:name => "user[remember_me]", :type => "checkbox", :value => "1"}/
          Remember Me
    .control-group
      .controls
        = f.button :submit, "Sign in", :class => 'btn-primary'
        %br
        %br
        = render "devise/shared/links"
