<div style="padding:40px;">
  <h4>ISSUES CONTROLLER</h4>

  {{view CmoStripe.NewIssueView}}
  
  <ul>
    {{#each controller itemController="issue"}}
    <li>
      {{#if isEditing}}
        {{view CmoStripe.EditIssueView }}
      {{else}}

        {{title}}
        <a href="#" {{action "removeIssue"}}>delete</a>
        <a href="#" {{action "editIssue"}}>edit</a>
      {{/if}}
      </li>
    {{/each}}
  </ul>
  
</div>
