= render "layouts/dashboard_navigation"

#main.no-nav-secondary
  #breadcrumbs 
    .container-fluid
      .row-fluid
        %h3.pull-left
          %i.icon-map-marker
          = link_to 'Properties', sites_url(subdomain: "www")
          %span  / 
          = @site.name
        = link_to raw("<i class='icon icon-trash'></i>"), @site, method: :delete, confirm: "Are you sure?", class: "btn pull-right"
  .container-fluid
    .row-fluid{style: "padding-top: 20px;"}
      .span3
        .form-instructions
          %h3 Edit this property
          %p Give your property a name, subdomain (____.condomotion.com), and address.
      .span9
        = render 'form'