
= render "layouts/dashboard_navigation"

#main.no-nav-secondary
  #breadcrumbs 
    .container-fluid
      .row-fluid
        .span12
          %h3.pull-left 
            %i.icon-map-marker
            Properties 
          = link_to "Add property", new_site_path, class: "btn btn-success pull-right" if can? :create, Site
  .container-fluid
    .row-fluid{style: "padding-top: 20px;"}
      .span12
        %table.table
          %thead
            %tr
              %th Name
              %th Subdomain
              %th Address
          %tbody
          - @sites.each do |site|
            %tr
              %td= link_to site.name, edit_site_url(subdomain: site.subdomain)
              %td= site.subdomain
              - unless site.address.nil?
                %td
                  = site.address.address1
                  = site.address.address2
                  = "#{site.address.city}, "
                  = site.address.state
                  = site.address.zip