= content_for :title do
  = @site.name
.container
  = link_to "Home", root_url(subdomain: @site.subdomain)

  %h3= @site.name

  .row
  = link_to 'Edit', edit_site_url(subdomain: @site.subdomain) if can? :edit, @site
  - if can? :index, Site
    \|
    = link_to 'Back', sites_url(subdomain: "www")
