!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Condo Motion"
    %meta{:content => content_for?(:description) ? yield(:description) : "Beautifully simple websites for condominium associations and property managers", :name => "description"}/
    = stylesheet_link_tag "application", :media => "all"
    /[if gte IE 9]
      <style type="text/css">
      \.gradient {
      filter: none;
      }
      </style>
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "/favicon.png", :rel => "shortcut icon"}/
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name} #{yield(:body_classes)}"}
    #wrap
      = yield(:navigation)
      = render 'layouts/messages'
      = yield
      #push
    = yield(:footer)
    = yield(:scripts)